.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.left-nav > ul {
  display: flex;
}

.left-nav > ul > li > span {
  margin-left: 10px;
}

.left-nav > ul > li {
  margin: 0 10px;
  padding: 5px;
  font-family: $sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.right-nav > ul {
  display: flex;
}

.right-nav > ul > button {
  margin: 0 2px;
}

.right-nav > ul > li {
  margin: 5px 0 0 10px;
  font-size: 15px;
}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover {
  background-color: $lightest-gray;
}
.right-nav > ul > li:last-of-type:hover {
  
}

.left-nav span {

}


.right-nav i {

}